
/* colors *
**********/

$color-courageous: #181818;
$color-involved: #2A2A2A;
$color-friendly: #5B5B5B;
$color-inspired: #F2F2F2;
$color-touched: #A2A2A2;
$color-compassion: #ededed;
$color-jolly: #66B2E4;
$color-astonished: #E42613;
