
/* colors *
**********/

$color-involved: #2A2A2A;
$color-friendly: #5B5B5B;
$color-inspired: #C5D2E0;
$color-touched: #A2A2A2;
$color-compassion: #ededed;
$color-jolly: #4A90E2;
$color-astonished: #9013FE;
$color-energetic: #50E3C2;
